# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
test-output/
# Java
bin/
.class
logs/

# Device Token  
**/data.txt
**/output.txt

# Upload Files
uploadFiles/

# Temp folder
temp/
main/qa-automation/test-project/absolute-dds-ui/src/main/java/com/absolute/qa/automation/dds/ui/project/TCSandbox.java
